@model CodeLouCsharpProject.Models.Army

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Army</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ruleset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruleset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArmyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
