@model IEnumerable<CodeLouCsharpProject.Models.Army>

@{
    ViewBag.Title = "Army Data Tracker";
}

<h2>Army Data Tracker</h2>

<p>
    @Html.ActionLink("New Army", "Create")
</p>

@* responsive table adds scrollbar on bottom when screen to small to keep table readable
    see bootstrap documentation for more info*@
<div class="table-responsive">
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ruleset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SquadCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ruleset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SquadCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.ArmyID }) |
            @Html.ActionLink("Data", "Details", new { id=item.ArmyID }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.ArmyID })
        </td>
    </tr>
}

</table>
</div>

<div>
    <p>The Ruleset entry is the gamesystem that the army is from.</p>
    <p>The Faction entry is the subgroup or faction the army belongs to in the game setting and fiction.</p>
    <p>The SquadCount entry is the basic size of the army in units or squads depending on the rules.</p>
    <p>The Points entry shows the total point value of the army.</p>
    <p>Click on New Army to go to the Army Creation page where you can make your own army.</p>

</div>